 /* .App {
  padding-top: 30px;
}  */

.head{
  height: 10%;
  width: 100%;
  background: #AB2A19;
  display: flex;
  color: white;
  position: fixed;
}

.bottom{
  display: flex;
  justify-content: center;
  align-content: space-between space-around;
  padding-top: 100px;
  width: 95%;
  margin: 1px;
  /* flex-flow: space-between;   */
}

.Dash{
  width: 40%;
  background: purple;
}

.ProductBox{
  /* display: flex; */
  justify-content: space-between;
  flex-direction: column;
  width: 80%;
  background: #D34735;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5%;
}
.ProductBox>image{
  justify-content: center;
}

.textCont{
  display: flex;
} 

.imageSized{
  width: 300px;
}


/* 
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
