.App {
  /* text-align: center; */
  border: none;
}

.header{
  background: #AB2A19;
  width: 100%;
  height: 10vh;
  position: fixed;
}

.bodyArea{
  display: flex;
  flex-flow: row;
  padding-left: 10px;
  padding-right: 10px;
}

.dash{
  /* border: solid line black 2px; */
  /* border-block-end: solid line black 2px; */
  width: 50%;
  height: 200vh;
  background: green;
  margin-top: 100px;
  margin-right: 5px;
  /* margin-right: 600px; */
}

.form{
  position: static;
  /* position: fixed; */
  /* padding-left: 100px; */
  width: 50%;
  height: 100vh;
  /* border: solid line black 2px; */
  background: blue;
  margin-top: 100px;
  margin-left: 5px;
  /* margin-left: 600px; */
}